// Default Variable Import
//@import "omega-style-vars", "omega-default-style-vars";

/* SAMPLE SCSS FILE CONTENTS */

body .ds-2col .group-left {
    width: 25%;
}  
body .ds-2col .group-right {
    width: 75%;
}

#header-outer-wrapper{
    border-bottom: 3px solid black;
    background-color: rgb(114, 114, 114);
}

.region-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px;
}

nav.navigation ul li+li:before
{
  content: '|';
}

.region-footer{
    min-height: 220px;
    background-color: rgb(68, 68, 68);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#content-outer-wrapper{
    margin-left: 15px;
    margin-bottom: 15px;
}